{% extends 'base-dash.html' %}
{% load static %}
{% block cor_login %}#3d348b{% endblock cor_login %}
{% block cor_cadastro %}#3d348b{% endblock cor_cadastro %}
{% block content %}
<div class="overflow-x-auto ml-2 mt-12">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="ltr:text-left rtl:text-right">
        <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Nome da criança
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Idade
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Status
        </th>
        <th class="px-4 py-2"></th>
        </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
        {% for i in criancas %}
            <tr>
                <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    {{ i.nome }}
                </td>
                <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ i.idade }}</td>
                <td class="whitespace-nowrap px-4 py-2 text-gray-700">{% if i.padrinho %}Apadrinhado{% else %}Sem padrinho{% endif %}</td>
                <td class="whitespace-nowrap px-4 py-2">
                    <a
                    href="/dashboard/crianca/{{i.nome}}"
                    class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
                    >
                    Ver mais
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
