{% extends 'base-dash.html' %}
{% load static %}
{% block content %}
<div class="spca ml-2 mt-12">
    <form class="space-y-12" method="post">
        {% csrf_token %}
        <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Registro de Atividades das Crianças Apadrinhadas</h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">Insira informações sobre as atividades realizadas pelas crianças apadrinhadas.</p>
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-4">
                    <label for="nome_atividade" class="block text-sm font-medium leading-6 text-gray-900">Nome da Atividade</label>
                    <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="text" name="nome" id="nome_atividade" autocomplete="off" class="p-2 pl-1 block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Nome da Atividade">
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label for="data_atividade" class="block text-sm font-medium leading-6 text-gray-900">Data da Atividade</label>
                    <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="date" name="data" id="data_atividade" autocomplete="off" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="DD/MM/AAAA">
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-4">
                    <label for="descricao_atividade" class="block text-sm font-medium leading-6 text-gray-900">Descrição da Atividade</label>
                    <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <textarea name="desc" id="descricao_atividade" autocomplete="off" class="p-2 block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Descrição da Atividade"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-semibold leading-6 text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150 rounded-md">Registrar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
