<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultive</title>
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.2/dist/css/fastbootstrap.min.css" rel="stylesheet"
        integrity="sha256-xLGBU65wCDv2/qEdq3ZYw2Qdiia/wxxeGepRyZmpQdY=" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="position: fixed; width: 100%; z-index: 2;background-color: white;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Cultive</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doar">Faça sua doação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apadrinhe">Apadrinhe uma criança</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Mais informações
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://github.com/claudioavgo/lottus">Nosso GitHub</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://sites.google.com/cesar.school/lottus/in%C3%ADcio">O projeto</a></li>
                        </ul>
                        <li class="nav-item">
                            <a class="nav-link active" href="/dashboard">Dashboard</a>
                        </li>
                    </li>
                </ul>
                <div>
                    {% if not user %}
                    <a href="/login" class="btn btn-outline-dark">Login</a>
                    <a href="/cadastro" class="btn btn-outline-dark">Cadastre-se</a>
                    {% else %}
                    <li class="nav-item dropdown">
                      <a class="avatar" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="avatar text-bg-secondary">{{ user.usuario.username.0 }}</span>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Configurações</a></li>
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="/logout">Sair</a></li>
                      </ul>
                    </li>
                    {% endif %}
                  </div>
            </div>
        </div>
    </nav>

    <div class="layout" style="position: fixed">
        <div class="layout-sidebar">
            <div class="sidenav show border-end" style="height: 92%; top: 3.5rem;z-index: 1;">
                <div class="sidenav-body">
                    <div class="menu accordion">
                        <ul class="menu-list">
                            <li>
                                <a class="menu-item active" href="/dashboard">Página Principal</a>
                            </li>
                            <li>
                                <a class="menu-item" href="/dashboard/doacoes">Minhas doações</a>
                            </li>
                            <li>
                                {% if user.crianca and user.crianca_autorizada and not user.usuario.is_staff %}

                                    <div class="menu-item">
                                        <button class="accordion-button p-0 bg-transparent text-reset" type="button"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            data-bs-target="#submenu-1">Criança</button>
                                    </div>
                                    <div class="accordion-collapse collapse show" id="submenu-1">
                                        <ul class="menu-list">
                                            
                                            <li>
                                                <a class="menu-item" href="/dashboard/crianca">{{ user.crianca.nome }} {{user.crianca.sobrenome}}</a>
                                            </li>
                                            
                                        </ul>
                                    </div>

                                {% else %}

                                    <div class="menu-item">
                                        <button class="accordion-button p-0 bg-transparent text-reset" type="button"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            data-bs-target="#submenu-1">Crianças</button>
                                    </div>
                                    <div class="accordion-collapse collapse show" id="submenu-1">
                                        <ul class="menu-list">
                                            {% for i in more.criancas %}
                                            <li>
                                                <a class="menu-item" href="/dashboard/crianca/{{i.nome}}">{{ i.nome }} {{ i.sobrenome }}</a>
                                            </li>
                                            {% endfor %}
                                            <li>
                                                <a style="background-color: rgb(0, 101, 255);font-weight: 500;color: white;" class="menu-item" href="/dashboard/adicionar/crianca">Adicionar</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="menu-item">
                                        <button class="accordion-button p-0 bg-transparent text-reset" type="button"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            data-bs-target="#submenu-5">Usuários</button>
                                    </div>
                                    <div class="accordion-collapse collapse show" id="submenu-5">
                                        <ul class="menu-list">
                                            {% for i in more.usuarios %}
                                            <li>
                                                <a class="menu-item" href="/dashboard/user/{{ i.usuario.username }}">{{ i.usuario.username }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </li>
                            {% if user.crianca %}
                            <li>
                                <div class="menu-item ">
                                    <button class="accordion-button p-0 bg-transparent text-reset" type="button"
                                        data-bs-toggle="collapse" aria-expanded="true"
                                        data-bs-target="#submenu-2">Legal</button>
                                </div>
                                <div class="accordion-collapse collapse show" id="submenu-2">
                                    <ul class="menu-list">
                                        <li>
                                            <a class="menu-item " href="/dashboard/contrato">Ver contrato</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="sidenav-footer text-center">
                    <a class="btn btn-subtle" href="#">Sair <i class="fa-solid fa-right-from-bracket ms-3"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="list-group" style="padding: 5rem 15rem 15rem 17rem; width: 100%;">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
          Doações
        </button>
        <button type="button" class="list-group-item list-group-item-action">R$ 100</button>
    </div>

    <div style="padding: 5rem 15rem 15rem 17rem; width: 100%;">
        <form class="row g-3 needs-validation" novalidate>
            
            
            <div class="col-md-4 position-relative">
              <label for="validationTooltipUsername" class="form-label">Doe agora</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">R$</span>
                <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
                <div class="invalid-tooltip">
                  Please choose a unique and valid username.
                </div>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Fazer doação</button>
            </div>
        </form>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.2/dist/js/fastbootstrap.min.js"
    integrity="sha256-+c+/OCMmtlZadi89VaV1yUOkk1T4BD2pwBFpY3OcrqI=" crossorigin="anonymous"></script>

</html>