{% extends 'base-dash.html' %}
{% load static %}
{% block content %}
<div class="spca ml-2 mt-12 ">
    <form class="space-y-12" action="/dashboard/adicionar/crianca" method="post">
        {% csrf_token %}
        <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Registro de Crianças</h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">Insira informações sobre as crianças.</p>
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-2">
                    <label for="nome" class="block text-sm font-medium leading-6 text-gray-900">Nome</label>
                    <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="text" name="nome" id="nome" autocomplete="off" class="p-2 pl-1 block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Nome">
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-4">
                    <label for="sobrenome" class="block text-sm font-medium leading-6 text-gray-900">Sobrenome</label>
                    <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="text" name="sobrenome" id="sobrenome" autocomplete="off" class="p-2 pl-1 block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Sobrenome">
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-2 ">
                    <label for="local" class="block text-sm font-medium leading-6 text-gray-900">Local</label>
                    <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="text" name="local" id="local" autocomplete="off" class="p-2 pl-1 block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Local">
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-1 ">
                    <label for="idade" class="block text-sm font-medium leading-6 text-gray-900">Idade</label>
                    <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="number"  min="-1" max="18" name="idade" id="idade" autocomplete="off" class="p-2 pl-1 block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Idade">
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-1 ">
                    <label for="ano_nascimento" class="block text-sm font-medium leading-6 text-gray-900">Ano de Nascimento</label>
                    <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="date" name="data" id="ano_nascimento" autocomplete="off" class="p-2 pl-1 block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="DD/MM/AAAA">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-6 flex items-center justify-start gap-x-6">
                <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancelar</button>
                <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-semibold leading-6 text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150 rounded-md">Registrar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
