{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultive</title>
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.2/dist/css/fastbootstrap.min.css" rel="stylesheet"
        integrity="sha256-xLGBU65wCDv2/qEdq3ZYw2Qdiia/wxxeGepRyZmpQdY=" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    
    <div class="layout" style="position: fixed">
        <div class="layout-sidebar">
            <div class="sidenav show border-end" style="height: 92%; top: 3.5rem;z-index: 1;">
                <div class="sidenav-body">
                    <div class="menu accordion">
                        <ul class="menu-list">
                            <li>
                                <a class="menu-item active" href="/dashboard">Página Principal</a>
                            </li>
                            <li>
                                <a class="menu-item" href="/dashboard/doacoes">Minhas doações</a>
                            </li>
                            <li>
                                {% if user.crianca and user.crianca_autorizada and not user.usuario.is_staff %}

                                    <div class="menu-item">
                                        <button class="accordion-button p-0 bg-transparent text-reset" type="button"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            data-bs-target="#submenu-1">Criança</button>
                                    </div>
                                    <div class="accordion-collapse collapse show" id="submenu-1">
                                        <ul class="menu-list">
                                            
                                            <li>
                                                <a class="menu-item" href="/dashboard/crianca">{{ user.crianca.nome }} {{user.crianca.sobrenome}}</a>
                                            </li>
                                            
                                        </ul>
                                    </div>

                                {% elif user.usuario.is_staff %}

                                    <div class="menu-item">
                                        <button class="accordion-button p-0 bg-transparent text-reset" type="button"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            data-bs-target="#submenu-1">Crianças</button>
                                    </div>
                                    <div class="accordion-collapse collapse show" id="submenu-1">
                                        <ul class="menu-list">
                                            {% for i in more.criancas %}
                                            <li>
                                                <a class="menu-item" href="/dashboard/crianca/{{i.nome}}">{{ i.nome }} {{ i.sobrenome }}</a>
                                            </li>
                                            {% endfor %}
                                            <li>
                                                <a style="background-color: rgb(0, 101, 255);font-weight: 500;color: white;" class="menu-item" href="/dashboard/adicionar/crianca">Adicionar</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="menu-item">
                                        <button class="accordion-button p-0 bg-transparent text-reset" type="button"
                                            data-bs-toggle="collapse" aria-expanded="true"
                                            data-bs-target="#submenu-5">Usuários</button>
                                    </div>
                                    <div class="accordion-collapse collapse show" id="submenu-5">
                                        <ul class="menu-list">
                                            {% for i in more.usuarios %}
                                            <li>
                                                <a class="menu-item" href="/dashboard/user/{{ i.usuario.username }}">{{ i.usuario.username }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </li>
                            {% if user.crianca %}
                            <li>
                                <div class="menu-item ">
                                    <button class="accordion-button p-0 bg-transparent text-reset" type="button"
                                        data-bs-toggle="collapse" aria-expanded="true"
                                        data-bs-target="#submenu-2">Legal</button>
                                </div>
                                <div class="accordion-collapse collapse show" id="submenu-2">
                                    <ul class="menu-list">
                                        <li>
                                            <a class="menu-item " href="/dashboard/contrato">Ver contrato</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="sidenav-footer text-center">
                    <a class="btn btn-subtle" href="#">Sair <i class="fa-solid fa-right-from-bracket ms-3"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" style="margin-left: 16rem;">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://gotasdeflor.org.br/wp-content/uploads/2019/07/crian%C3%A7a-padrinho-gotas-flor-amor-07.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://gotasdeflor.org.br/wp-content/uploads/2019/07/crian%C3%A7a-padrinho-gotas-flor-amor-07.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://gotasdeflor.org.br/wp-content/uploads/2019/07/crian%C3%A7a-padrinho-gotas-flor-amor-07.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.2/dist/js/fastbootstrap.min.js"
    integrity="sha256-+c+/OCMmtlZadi89VaV1yUOkk1T4BD2pwBFpY3OcrqI=" crossorigin="anonymous"></script>

</html>