{% extends 'base-dash.html' %}
{% load static %}
{% block cor_login %}#3d348b{% endblock cor_login %}
{% block cor_cadastro %}#3d348b{% endblock cor_cadastro %}
{% block content %}
<div class="container mx-auto ml-2 mt-12">
    <div class="bg-white rounded-lg shadow p-6">
        <h2 class="text-2xl font-bold text-gray-700 mb-4">Dados do usuário</h2>

        <div class="mb-4">
            <p class="text-gray-600">Nome: {{ usuario.usuario.username }}</p>
            <p class="text-gray-600">Email: {{ usuario.usuario.email }}</p>
            <p class="text-gray-600">Telefone: {{ usuario.telefone }}</p>
        </div>

        {% if not usuario.usuario.is_staff %}
        <a href="/dashboard/adicionar/administrador/{{ usuario.usuario.username }}"
            class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">
            Adicionar como administrador
        </a>
        {% endif %}

        {% if usuario.administrador and not administrador.usuario_autorizado %}
        <a href="/dashboard/aprovar/contrato/{{ usuario }}">
            <button type="button"
                class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700 mt-4">
                Aprovar contrato
            </button>
        </a>
        {% endif %}
    </div>
</div>
{% endblock content %}
