{% extends 'base-dash.html' %}
{% load static %}
{% block cor_login %}#3d348b{% endblock cor_login %}
{% block cor_cadastro %}#3d348b{% endblock cor_cadastro %}
{% block content %}
<div class="overflow-x-auto  mt-12">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">

        <tbody class="divide-y divide-gray-200">
            {% for crianca in criancas %}
            <tr>
                <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    {{ crianca.nome }}
                </td>
                <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ crianca.idade }}</td>
                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                    {% if crianca.padrinho %}
                        Apadrinhado
                    {% else %}
                        Sem padrinho
                    {% endif %}
                </td>
                <td class="whitespace-nowrap px-4 py-2">
                    <a href="/dashboard/crianca/{{crianca.nome}}"
                        class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">
                        Ver mais
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container mx-auto ml-2 mt-12">
    <div class="bg-white rounded-lg shadow overflow-hidden">
        <div class="p-6">
            <h2 class="text-2xl font-semibold mb-2">{{ crianca.nome }} {{ crianca.sobrenome }}</h2>
            <p class="text-gray-600 mb-4">Idade: {{ crianca.idade }}</p>
            <p class="text-gray-600 mb-4">Padrinho: {% if crianca.padrinho %}{{ crianca.padrinho }}{% else %}Sem padrinho{% endif %}</p>
            <p class="text-gray-600 mb-4">Endereço: {{ crianca.local }}</p>
            <p class="text-gray-600 mb-4">Data de nascimento: {{ crianca.data_nascimento }}</p>
            <a href="/dashboard/adicionar/atividade?crianca={{ crianca }}"
                class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700 mt-4">
                Adicionar Atividade
            </a>
            {% if crianca.padrinho and not padrinho.crianca_autorizada %}
                                        <a href="/dashboard/aprovar/contrato/{{ crianca }}">
                                            <button type="button" class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700 mt-4">Aprovar contrato</button>
                                        </a>
            {% endif %}
        </div>
    </div>
    <div class="grid grid-cols-1 gap-4 mt-4 ">
        {% for atividade in crianca.atividades.all %}
        <div class="bg-white rounded-lg shadow">
            <div class="p-6">
                <h3 class="text-lg font-semibold mb-2">{{ atividade }}</h3>
                <p class="text-gray-700 mb-2">{{ atividade.desc }}</p>
                <p class="text-gray-500 text-sm">Data: {{ atividade.data }}</p>
            
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

