{% extends 'base.html' %} 
{% block cor_login %}#29226c{% endblock cor_login %}
{% block cor_cadastro %}#3d348b{% endblock cor_cadastro %} 
{% block content %}
<div
	style="
		padding: 3rem 10rem 5rem 10rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	">
	<form action="/login" method="post">
		{% csrf_token %}
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label"
				>Endereço de e-mail</label
			>
			<input
				name="email"
				type="email"
				class="form-control"
				id="exampleInputEmail1"
				aria-describedby="emailHelp" />
		</div>
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Senha</label>
			<input
				name="password"
				type="password"
				class="form-control"
				id="exampleInputPassword1" />
		</div>
		<div class="mb-3 form-check">
			<input
				type="checkbox"
				class="form-check-input"
				id="exampleCheck1"
				checked />
			<label class="form-check-label" for="exampleCheck1"
				>Permanecer neste dispositivo</label
			>
		</div>
		<div class="text-end">
			<button type="submit" class="btn btn-primary btn-rounded">Entrar</button>
		</div>
	</form>
	<div class="flor"></div>
</div>
{% endblock %}
