<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultive</title>
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.2/dist/css/fastbootstrap.min.css" rel="stylesheet"
        integrity="sha256-xLGBU65wCDv2/qEdq3ZYw2Qdiia/wxxeGepRyZmpQdY=" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Cultive</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doar">Faça sua doação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apadrinhe">Apadrinhe uma criança</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Mais informações
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://github.com/claudioavgo/lottus">Nosso GitHub</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://sites.google.com/cesar.school/lottus/in%C3%ADcio">O projeto</a></li>
                        </ul>
                    </li>
                </ul>
                <div>
                    <a href="/login" class="btn btn-outline-dark active" aria-current="page">Login</a>
                    <a href="/cadastro" class="btn btn-outline-dark">Cadastre-se</a>
                </div>
            </div>
        </div>
    </nav>

    <div style="padding: 3rem 10rem 5rem 10rem; display: flex; justify-content: center; align-items: center; flex-direction: column;width: 100%;">
        <form action="/login" method="post">
            {% csrf_token %}

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Endereço de e-mail</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" />
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" checked />
              <label class="form-check-label" for="exampleCheck1">Permanecer neste dispositivo</label>
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
          </form>
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.2/dist/js/fastbootstrap.min.js" integrity="sha256-+c+/OCMmtlZadi89VaV1yUOkk1T4BD2pwBFpY3OcrqI=" crossorigin="anonymous"></script>

</html>