{% extends 'base.html' %}
{% block cor_login %}#3d348b{% endblock cor_login %}
{% block cor_cadastro %}#29226c{% endblock cor_cadastro %}

{% block content %}
   <div style="padding: 3rem 10rem 5rem 10rem; display: flex; justify-content: center; align-items: center; flex-direction: column; width: 100%;">
      <form method="post" action="/cadastro">
         {% csrf_token %}
         <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nome completo</label>
            <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
         </div>
         <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Endereço de e-mail</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
         </div>
         <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">CPF</label>
            <input name="cpf" type="text" class="form-control" id="cpfInput" aria-describedby="emailHelp" />
         </div>
         <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Telefone</label>
            <input name="telefone" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
         </div>
         <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" />
         </div>
         <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirmar senha</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1" />
         </div>
         <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" checked />
            <label class="form-check-label" for="exampleCheck1">Concordo com a <a target="_blank" href="https://sites.google.com/cesar.school/lottus/in%C3%ADcio">finalidade do projeto</a>.</label>
         </div>
         <div class="text-end">
            <button type="submit" class="btn btn-primary btn-rounded">Cadastrar-se</button>
         </div>
      </form>
      <div class="flor"></div>
   </div>
{% endblock %}