{% extends 'base.html' %} 
{% load static %} 
{% block cor_login %}#29226c{%endblock cor_login %} 
{% block cor_cadastro %}#3d348b{% endblock cor_cadastro %}
{% block content %}

<div class="fixed left-0 bottom-0 rounded z-0 border">
  <img class="" src="{% static 'flor.png' %}" alt="" srcset="" />
</div>
<div class="text-indigo-800 z-10">
  <h4 class="font-bold text-2xl centro">
    Dia sa dia do Gotas de Flor com Amor
  </h4>
  <h5 class="text-xl centro">
    Desenvolvemos as atividades focadas no desenvolvimento integral do ser
    humano, atuando no físico, mental, social e espiritual
  </h5>
  <br />

  <div
    class="shadow-xl bg-white rounded-lg w-36 h-36 ml-64 mr-64 mb-8 mt-6 font-semibold text-xl"
  >
    Acolhimento <br />
    As crianças chegam, recebem uma refeição balanceada e participam de uma roda
    de conversa inicial para saber sobre a proposta para o dia
  </div>
  <div
    class="shadow-xl bg-white rounded-lg w-36 h-36 ml-64 mr-64 mb-8 mt-6 font-semibold text-xl"
  >
    Floral e Atividades <br />
    Os que desejam tomam os florais e todos seguem para as atividades
  </div>
  <div
    class="shadow-xl bg-white rounded-lg w-36 h-36 ml-64 mr-64 mb-8 mt-6 font-semibold text-xl"
  >
    Floral e Atividades <br />
    Os que desejam tomam os florais e todos seguem para as atividades
  </div>
  <div
    class="shadow-xl bg-white rounded-lg w-36 h-36 ml-64 mr-64 mb-8 mt-6 font-semibold text-xl"
  >
    Floral e Atividades <br />
    Os que desejam tomam os florais e todos seguem para as atividades
  </div>
  <div
    class="shadow-xl bg-white rounded-lg w-36 h-36 ml-64 mr-64 mb-8 mt-6 font-semibold text-xl"
  >
    Floral e Atividades <br />
    Os que desejam tomam os florais e todos seguem para as atividades
  </div>
</div>

{% endblock %}
