{% extends 'base.html' %} 
{% block cor_login %}#3d348b{% endblock cor_login %}
{% block cor_cadastro %}#29226c{% endblock cor_cadastro %} 
{% block content %}
{% load static %}
<div
	style="
		padding: 5rem 10rem 5rem 10rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	">
	<h1>Método de doação</h1>
	<div
		style="
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			width: 80%;
			margin-top: 2rem;
		">
		<a href="{% if user %}/dashboard/doacoes{% else %}/cadastro{% endif %}">
			<button class="btn btn-primary btn-lg" type="submit">Doe agora</button>
		</a>
        <img src="{% static './images/flor-coracao.png' %}" class="d-block w-100" alt="..." style="width: 447px; height: 418px; flex-shrink: 0;">
	</div>
</div>
{% endblock %}
