{% extends 'base.html' %} 
{% block cor_login %}#3d348b{% endblock cor_login %}
{% block cor_cadastro %}#29226c{% endblock cor_cadastro %} 
{% block content %}
{% load static %}
<link
	rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Tailwind CSS CDN Links -->
<link
	href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
	rel="stylesheet" />
<div
	style="
		padding: 0rem 10rem 5rem 10rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	">
	<div class="mt-32 text-center space-y-10 text-indigo-800">
		<h1 class="text-4xl font-bold">
			Que tal fazer da solidariedade mais um assunto comum na sua empresa?
		</h1>
		<h5 class="text-2xl text-left">
			Sua ajuda será essencial para continuarmos realizando nosso trabalho
			inclusivo, dando oportunidades justas para crianças e jovens, moradores
			das comunidades ao redor da Av. Jornalista Roberto Marinho, lutarem por um
			futuro digno.
		</h5>
		<h1 class="text-4xl font-bold">
			Você pode ser uma Empresa Amiga de algumas maneiras
		</h1>
		<h5 class="text-2xl text-left">
			<span class="font-semibold"
				>Participando do Gotas de Sustentabilidade:</span
			>
			com contribuições mensais de R$ 500 a R$ 5.000, você e sua empresa podem
			participar do trabalho do Gotas, formando parceria com um projeto social já
			estabelecido e reconhecido desde 1993.
		</h5>
		<h5 class="text-2xl text-left">
			<span class="font-semibold"
				>Contribuindo com o Gotas de Flor com Amor como OSCIP:</span
			>
			você pode direcionar, até 2% do Imposto de Renda devido, para os Projetos
			da entidade. Sem custo para você, de enorme valor para o Gotas.
		</h5>
		<h1 class="text-4xl font-bold">
			Junte-se ao Gotas
		</h1>
        <h5 class="text-2xl font-semibold">
			<br />11 5093-0883<br />11 98879-2324<br />gotasdeflor@gotasdeflor.org.br
		</h5>
	</div>
</div>
{% endblock %}
<script
	src="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.2/dist/js/fastbootstrap.min.js"
	integrity="sha256-+c+/OCMmtlZadi89VaV1yUOkk1T4BD2pwBFpY3OcrqI="
	crossorigin="anonymous"></script>
