{% extends 'base.html' %} 
{% block cor_login %}#3d348b{% endblock cor_login %}
{% block cor_cadastro %}#3d348b{% endblock cor_cadastro %} 
{% block content %}
   		<div
				style="
				padding: 3rem 10rem 5rem 10rem;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				width: 100%;
				">
				<form method="post" action="/cadastro">
				{% csrf_token %}
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label"
						>Nome da empresa</label
					>
					<input
						name="username"
						type="text"
						class="form-control"
						id="exampleInputEmail1"
						aria-describedby="emailHelp" />
				</div>
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label"
						>Endereço de e-mail</label
					>
					<input
						name="email"
						type="email"
						class="form-control"
						id="exampleInputEmail1"
						aria-describedby="emailHelp" />
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label"
						>CNPJ (opcional)</label
					>
					<input
						name="cpf"
						type="text"
						class="form-control"
						id="cpfInput"
						aria-describedby="emailHelp" />
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label"
						>Descreva como pode nos ajudar</label
					>
					<input
						name="telefone"
						type="text"
						class="form-control"
						id="exampleInputEmail1"
						aria-describedby="emailHelp"
						style="height: 100px" />
				</div>

				<div class="text-end">
					<button type="submit" class="btn btn-primary btn-rounded">
						Enviar solicitação
					</button>
				</div>
				</form>
				<div class="flor"></div>
		</div>
		<div id="overlay"></div>
{% endblock %}