{% extends 'base.html' %}
{% load static %}

{% block cor_login %}#3d348b{% endblock cor_login %}
{% block cor_cadastro %}#29226c{% endblock cor_cadastro %}
{% block content %}
<section class="bg-gray-100 py-16 px-4 sm:px-6 lg:px-8 p-5">
  <div class="mx-auto flex items-center justify-center">
    

    <div class="w-full  mt-8 ">
      <h2 class="text-4xl font-bold mb-6 text-gray-800">
        Cuidando do Futuro: <br class="hidden lg:inline" />Apoiamos e Nutrimos Crianças
      </h2>

      <p class="text-lg text-gray-700 leading-relaxed">
        A nossa ONG se dedica a proporcionar um ambiente seguro e acolhedor para todas as crianças. Oferecemos educação, alimentação saudável e carinho, garantindo um futuro brilhante para cada uma delas.
      </p>
    </div>
  </div>
</section>

<div class=" mx-auto py-12 px-4 ">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <a href="{% url 'iniciativasdogotas' %}">
        <img src="https://t4.ftcdn.net/jpg/06/20/17/69/240_F_620176964_x6DemFbXBHr655l5dWUQyB7mSz9EMN9X.jpg" class="w-full h-56 object-cover" alt="Imagem 1">
      </a>
      <div class="p-4">
        <a href="{% url 'iniciativasdogotas' %}" class="text-lg font-bold text-gray-800 hover:text-indigo-600">Iniciativas do Gotas</a>
      </div>
    </div>

    <div class="bg-white  rounded-lg shadow-lg overflow-hidden">
      <a href="{% url 'diaadiadogotas' %}">
        <img src="https://t3.ftcdn.net/jpg/06/09/56/94/240_F_609569452_ym8xS3kiHEFNsLFxjGCo5Jk69ysWcjdr.jpg" class="w-full h-56 object-cover" alt="Imagem 2">
      </a>
      <div class="p-4">
        <a href="{% url 'diaadiadogotas' %}" class="text-lg font-bold text-gray-800 hover:text-indigo-600">Dia a dia do Gotas</a>
      </div>
    </div>

    <!-- Adicione mais divs com conteúdo semelhante se necessário -->
  </div>
</div>
{% endblock content %}
