<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultive</title>
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.2/dist/css/fastbootstrap.min.css" rel="stylesheet"
        integrity="sha256-xLGBU65wCDv2/qEdq3ZYw2Qdiia/wxxeGepRyZmpQdY=" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Cultive</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doar">Faça sua doação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apadrinhe">Apadrinhe uma criança</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Mais informações
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" target="_blank"
                            href="https://github.com/claudioavgo/lottus">Nosso GitHub</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                href="https://sites.google.com/cesar.school/lottus/in%C3%ADcio">O projeto</a></li>
                            </ul>
                        </li>
                        {% if user %}
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        {% endif %}
                    </ul>
                <div>
                    {% if not user %}
                    <a href="/login" class="btn btn-outline-dark">Login</a>
                    <a href="/cadastro" class="btn btn-outline-dark">Cadastre-se</a>
                    {% else %}
                    <li class="nav-item dropdown">
                        <a class="avatar" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="avatar text-bg-secondary">{{ user.usuario.username.0 }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Configurações</a></li>
                            <li><a class="dropdown-item" href="#">Perfil</a></li>
                            <li><a class="dropdown-item" href="/logout">Sair</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://gotasdeflor.org.br/wp-content/uploads/2019/09/crian%C3%A7as-enfileiradas-lousa-gotas-flor-amor-03.jpg"
                    style="width: 100%;" class="d-block" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://gotasdeflor.org.br/wp-content/uploads/2019/07/crian%C3%A7a-padrinho-gotas-flor-amor-01.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div
        style="padding: 5rem 10rem 5rem 10rem; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div style="display: flex; justify-content: space-evenly; align-items: center; width: 30%;">
            <button class="btn btn-primary btn-lg" style="margin-top: 2rem;" type="submit">Faça uma doação</button>
            <button class="btn btn-primary btn-lg" style="margin-top: 2rem;" type="submit">Apadrinhar</button>
        </div>
        <div style=" text-align: center;">
            <h4><br>11 5093-0883<br>11 98879-2324<br>gotasdeflor@gotasdeflor.org.br</h4>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.2/dist/js/fastbootstrap.min.js"
    integrity="sha256-+c+/OCMmtlZadi89VaV1yUOkk1T4BD2pwBFpY3OcrqI=" crossorigin="anonymous"></script>

</html>