{% extends 'base.html' %} 
{% block cor_login %}#29226c{% endblock cor_login %}
{% block cor_cadastro %}#3d348b{% endblock cor_cadastro %} 
{% block content %}
<div class = "text-indigo-800">
<h3 class="font-bold text-3xl centro">Nosso Diferencial</h3>
<h4 class="text-xl centro">Conheça nossas atividades e auxílios propostas pela nossa ONG para cuidar e 
    <span class = "quebralinha"></span>ensinar as crianças sobre o desenvolvimento delas</h4>
<h3 class = "iconecoral"></h3>
    

</div>
<style>
    .centro{
        text-align: center;
    }
    .quebralinha{
        display: block;
        margin-bottom: 0.1em;
    }

</style>
<div
	style="
		padding: 3rem 10rem 5rem 10rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	">
	<div class="flor"></div>
</div>
{% endblock %}
